.imgs {
    width: 250px;
    height: 330px;
    border-radius: 10px;
}

.info-movie {
    margin-bottom: 10px;
}

.card-search {
    margin: 20px;
    background-color: #484848;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}