<div *ngIf="movie" class="row center-xs">
  <div class="col-xs-6">
    <div class="box">La película que buscaste</div>
    <div class="box">
      <img [src]="movie.poster_path | poster" [alt]="movie.original_title" />
    </div>
  </div>
  <div class="col-xs-6">
    <div class="box">
      <h3>{{ movie.original_title }}</h3>
    </div>
    <div class="box">
      {{ movie.overview }}
    </div>
    <div class="box">
      <star-rating
        [value]="movie.vote_average"
        totalstars="10"
        checkedcolor="black"
        uncheckedcolor="white"
        size="14px"
        readonly="false"
      ></star-rating>
      {{ movie.vote_average }}
    </div>

    <div class="box">
      <app-cast-slideshow
        *ngIf="cast"
        [cast]="cast"
      ></app-cast-slideshow>
    </div>

    <div class="box">
      <button mat-raised-button (click)="goBack()">Volver</button>
    </div>
  </div>
</div>
