.img-search {
  width: 50% !important;
}

.card-search {
    margin: 20px;
    background-color: #484848;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}

.goBack {
    background-color: #484848;
    color: white;
}